.container {
  padding: 1rem 2rem;
  margin: 20px 0;
}
.heading {
  font-size: 1.8rem;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.subHeading {
  font-size: 0.9rem;
  color: rgb(63, 63, 63);
  font-family: "Courier New", Courier, monospace;
  margin-left: 1rem;
}
.subContainer {
  margin-top: 1rem;
  display: flex;
}

.content {
  margin: 1rem;
  color: rgb(27, 27, 27);
  font-family: "Courier New", Courier, monospace;
}

.contentHeading {
  font-size: 1.2rem;
  color: black;
  margin-top: 2rem;
  font-family: "Courier New", Courier, monospace;
}
.list {
  margin-top: 1rem;
  margin-left: 2rem;
}
li {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(63, 63, 63);
  font-family: "Courier New", Courier, monospace;
  width: 60%;
}
.internDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
